version: "3.9"

services:
  db:
    image: postgres:15
    container_name: video_analytics_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5

  bot:
    build: .
    container_name: video_analytics_bot
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DATABASE_URL: postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
      ASYNCPG_DSN: postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
    env_file:
      - .env
    command: sh -c "python -m scripts.import_data ./data/videos.json && python main.py"
    restart: unless-stopped

volumes:
  postgres_data: